@model int

@{
    ViewBag.Title = "404 Error";
}
<div class="alert alert-danger mt-1 mb-1">
    <h4> Page Not Found Error:</h4>
    <hr />
    <h5>
        Page with Id = @Model Not Found.
    </h5>

</div>
<a asp-action="Index" asp-controller="Home" class="btn btn-outline-success">
    Click here to return Home Page
</a>