@model int

@{
    ViewBag.Title = "404 Error";
}
<div class="alert alert-danger mt-1 mb-1">
    <h4> Page Not Found Error:</h4>
    <hr />
    <h5>
        You input wrong controller name.
    </h5>

</div>
<a asp-action="Index" asp-controller="Applicant" class="btn btn-outline-success">
    Click here to proceed at Home Page.
</a>